environment              = "prod"
location                 = "northeurope"
resource_group_name      = "rg-boreas-prod"
storage_account_name     = "storageboreasXXXX"
app_service_plan_name    = "asp-boreas-prod"
app_service_name         = "app-boreas-prod"
app_service_sku          = "B1"
github_org               = "YOUR_GITHUB_ORG"
github_repo              = "Boreas"
